@use "./vars" as *;

.mfp-bg {
  z-index: 222;
}
.mfp-wrap {
  z-index: 223;
}
.video-section {
  background-image: url(../../images/slider01.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .video-container {
    position: relative;
    z-index: 4;
    h2 {
      color: #fff !important;
      font-size: calc(1.8rem + 1vw);
      font-weight: 600;
    }
    h5 {
      color: #eee !important;
    }
    .animated_play_btn {
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: $mainColor;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      opacity: 1;
      margin: 40px;
      color: #fff;
      font-size: 16px;
      margin: auto;
      &::before {
        content: " ";
        display: block;
        position: absolute;
        border-radius: 100%;
        background-color: $mainColor;
        z-index: -1;
        opacity: 0.6;
        width: 110px;
        height: 110px;
      }
      &::after {
        content: " ";
        display: block;
        position: absolute;
        border-radius: 100%;
        background-color: $mainColor;
        z-index: -1;
        animation: video-play-button-animate 1.2s ease-in infinite forwards;
      }
      @keyframes video-play-button-animate {
        0% {
          width: 70px;
          height: 70px;
          opacity: 0.8;
        }
        100% {
          width: 160px;
          height: 160px;
          opacity: 0;
        }
      }
      a {
        font-size: 30px;
        color: #fff;
      }
    }
  }
}
